@use '@angular/material' as mat; // Make sure this is at the top of your Sass file
@include mat.core();
$primary-palette: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent-palette: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400); // Example with custom hues
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);
$my-app-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  ),

));

// Include the theme styles for all components
@include mat.all-component-themes($my-app-theme);

mat-form-field {
  width: 100%;
}
.error-message {
  color: #f44336;
  font-weight: 500;
  margin-top: 8px;
  text-align: center;
}